{% extends 'base.html.twig' %}

{% block title %}Coworking-Gusto{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">Panier</h2>
                </div>
                <div class="content">
                    <div class="row">

                        <div class="col-12 col-md-8">
                            {% if cart is empty %}
                                <div class="card">
                                    <div class="card-header text-center">
                                        Le panier est vide
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% set totalPrice = 0 %}
                            {% for carts in app.user.carts  %}
                                {% if carts.food.title is defined and carts.food.title is not empty  %}
                                    <div class="items">
                                        <div class="product">
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <img class="img-fluid mx-auto d-block image" src="{{ vich_uploader_asset(carts.food, 'imageFile') | imagine_filter('thumb')}}">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="col-md-8 product-name">
                                                                <div class="product-name">
                                                                    {{  carts.food.title  }}
                                                                    <div class="product-info">
                                                                        {{  carts.food.content  }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 quantity">
                                                                <label for="quantity">Quantity: {{ carts.quantity }}</label>
                                                                <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                            </div>
                                                            <div class="col-md-8 price">
                                                                <span>{{ carts.food.price * carts.quantity }} € </span>
                                                                {% set totalPrice = totalPrice + (carts.food.price * carts.quantity) %}
                                                                <ul class="d-flex list-unstyled">
                                                                    <li class="flex-fill">
                                                                        <form method="post" action="{{ path('delete_cart', {id: carts.id}) }}">
                                                                            <input type="hidden" name="_method" value="DELETE">
                                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carts.id) }}">

                                                                            <button class="btn"  id="btn_supp_cart" style="background-color: transparent; border-left-color: transparent">Supprimer</button>
                                                                        </form>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header unique-color-dark text-white">
                                        <h3 class="mb-3 font-weight-bold">Récapitulatif</h3>
                                        <div class="summary-item mb-3 d-flex justify-content-between"><span class="text">Sous-total :</span><span class="price">{{ totalPrice }}€</span></div>
                                        <div class="summary-item mb-5 d-flex justify-content-between font-weight-bold"><span class="text">Total: </span><span class="price">{{ totalPrice }}€</span></div>
                                    {% if cart is empty %}
                                        <button type="button" class="btn btn-orange accent-3 btn-lg btn-block mb-3" disabled><i class="fas fa-lock"></i> paiement</button>
                                        <button type="button" class="btn btn-white btn-lg btn-block" disabled><i class="fab fa-paypal"></i> paypal</button>
                                    {% else %}
                                        <a href="{{ path('paiement') }}"><button type="button" class="btn btn-orange accent-3 btn-lg btn-block mb-3"><i class="fas fa-lock"></i> paiement</button></a>
                                        <div id="paypal-button-container"></div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </main>
{% endblock %}

