{% extends 'base.html.twig' %}

{% block title %}Hello SpacePublicController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Ajouter une table
            </div>
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if not spaceForm.vars.valid %}
                    <div class="alert alert-danger text-center">
                        Votre message n'a pas pu être envoyer.
                    </div>
                {% endif %}
                {{ form_start(spaceForm) }}
                {{ form_row(spaceForm.title) }}
                {{ form_row(spaceForm.content) }}
                {{ form_row(spaceForm.imageFile) }}

                <button class="btn">Enregistrer</button>
                {{ form_end(spaceForm) }}
            </div>
        </div>
    </div>

{% endblock %}
