{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="mt-5 mb-4 pt-3">
        <div class="container">
            <section>
                <div class="row d-flex justify-content-center p-5 text-center">
                    {{ form_start(registrationForm, {'attr': {'class': 'border border-light mt-5 p-5 col-md-6'}}) }}
                    <p class="h4 mb-4 text-center">S'inscrire</p>
                    <div class="form-row mb-4">
                        <div class="col">
                            {{ form_row(registrationForm.firstname) }}
                        </div>
                        <div class="col">
                            {{ form_row(registrationForm.lastname) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">Au moins 6 caractères</small>
                    {{ form_row(registrationForm.phone) }}
                    <hr>
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button class="btn peach-gradient my-4 btn-block" >S'inscrire</button>
                    <p>Déja membre ? <a href="{{path('app_login')}}">Se connecter</a></p>
                    {{ form_end(registrationForm) }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
