{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="mt-5 mb-4 pt-3">
        <div class="container">
            <section>
                <div class="row d-flex justify-content-center">
                    {{ form_start(registrationForm, {'attr': {'class': 'border border-light mt-5 p-5 col-md-6'}}) }}
                    <p class="h4 mb-4 text-center">S'inscrire</p>
                    <p class="card-text">*Champs obligatoire</p>
                    <div class="form-group">
                        {{ form_row(registrationForm.firstname) }}
                    </div>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.phone) }}
                    {{ form_row(registrationForm.job) }}
                    <hr>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <div class="text-center">
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">Ces informations vous serviront d'identifiant pour le Réseau de membres qui vous permettra de vous connecter à notre communauté mondiale</small>
                    </div>


                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn peach-gradient my-4 btn-block" >S'inscrire</button>
                    <div class="text-center">
                        <p>Déja membre ? <a href="{{path('app_login')}}">Se connecter</a></p>
                        En cliquant sur le bouton ci-dessus vous acceptez nos <a href="{{ path('legalnotice') }}">Mentions légales</a> et confirmez que vous avez lu et compris notre <a href="{{ path('legalnoticevente') }}">Conditions générales de ventes</a>
                        {{ form_end(registrationForm) }}
                    </div>

                </div>
            </section>
        </div>
    </main>

{% endblock %}
