{% extends 'base.html.twig' %}

{% block title %}Boissons{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">Boissons</h2>
                </div>
                <div class="content">
                    {% if showDrink is empty %}
                        <div class="card">
                            <div class="card-header text-center">
                                Aucun aliment pour le moment
                            </div>
                        </div>
                    {% endif %}
                    {% for showDrinks in showDrink %}
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="card bg-dark text-white">
                                    <img src="{{ vich_uploader_asset(showDrinks, 'imageFile') | imagine_filter('thumb')}}" class="card-img" alt="...">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ showDrinks.title }}</h5>
                                        <p>Prix : {{ showDrinks.price }}€</p>
                                        <p class="card-text">{{ showDrinks.content }}.</p>
                                        <a href="{{ path('add_supply_food', {id: showDrinks.id, slug: showDrinks.slug}) }}"><button type="button" class="btn btn-primary" id="btn_card_home">Ajouter au panier</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
        </section>
    </main>

{% endblock %}