{% extends 'base.html.twig' %}

{% block title %}Hello SpacePublicController!{% endblock %}

{% block body %}
        <div class="container" style="display: inline-block; justify-content: space-between; grid-template-columns: repeat(8, auto); grid-gap: 22px;">
            <br>
            {% if showFood is empty %}
                <div class="alert alert-danger" role="alert">
                    Aucune table disponible
                </div>
            {% endif %}
            {% for showFoods in showFood %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ vich_uploader_asset(showFoods, 'imageFile') | imagine_filter('thumb')}}" class="card-img-top" alt="..." style="width: 100%; height: auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ showFoods.title }}</h5>
                        <p class="card-text" style=" overflow-y: hidden; height: 70px;">{{ showFoods.content }}</p>
                        <h5 style="float: right">{{ showFoods.price }}€</h5>
                    </div>
                    <div class="card-footer text-muted" id="card_footer_home">
                        <a href="{{ path('add_supply_food', {id: showFoods.id, slug: showFoods.slug}) }}"><button type="button" class="btn btn-primary" id="btn_card_home">Acheter</button></a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

{% endblock %}