{% extends 'base.html.twig' %}

{% block title %}La carte{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Acheter un menu
                    </h2>
                </div>
                <div class="content">

                    <div class="card-deck">
                        {% for showMenus in showMenu %}
                        <div class="card">
                            <h6 class="card-img-overlay">{{ showMenus.title }}</h6>
                            <div class="view zoom">
                                <a href="{{ path('add_supply_food', {id: showMenus.id, slug: showMenus.slug}) }}"><img src="{{ vich_uploader_asset(showMenus, 'imageFile') | imagine_filter('thumb')}}" class="card-img-top" alt="..." style="cursor: pointer; width: 590px;"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
        </section>
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Composer votre menu
                    </h2>
                </div>
                <div class="content">
                    <div class="card-deck">
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_menu') }}"><img src="{{ asset('image/manger.jpeg') }}" class="card-img-top" alt="..." style="cursor: pointer; width: 590px;"></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_fruit') }}"><img src="{{ asset('image/fruits.jpeg') }}" class="card-img-top" alt="..." style="width: 600px"></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-deck">
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_drink') }}"><img src="{{ asset('image/drink.jpeg') }}" class="card-img-top" alt="..." style="cursor: pointer; width: 590px;"></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_coffee') }}"><img src="{{ asset('image/food2.jpeg') }}" class="card-img-top" alt="..."></a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>


{% endblock %}
