{% extends 'base.html.twig' %}

{% block title %}Hello SpacePublicController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Ajouter de la nourriture
            </div>
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if not foodForm.vars.valid %}
                    <div class="alert alert-danger text-center">
                        Votre message n'a pas pu être envoyer.
                    </div>
                {% endif %}
                {{ form_start(foodForm) }}
                {{ form_row(foodForm.title) }}
                {{ form_row(foodForm.content) }}
                {{ form_row(foodForm.price) }}
                {{ form_row(foodForm.stock) }}
                {{ form_row(foodForm.label) }}
                {{ form_row(foodForm.imageFile) }}

                <button class="btn">Enregistrer</button>
                {{ form_end(foodForm) }}
            </div>
        </div>
    </div>

{% endblock %}
