{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Repondre au post de {{ jobs.author }}
                    </h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    Votre message
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Votre message .." name="message" required></textarea>
                                        </div>
                                        <input type="hidden" name="customer_post" value="{{ jobs.customer }}">
                                        <button type="submit" class="btn peach-gradient my-4 btn-sm" style="float: right">Envoyer</button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Rappel du post</h5>
                                    <hr>
                                    <h6>{{ jobs.title }}</h6>
                                    <p class="card-text">{{ jobs.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>

{% endblock %}