{% extends 'base.html.twig' %}

{% block title %}Suivre la discussion{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Réponse au post {{ jobs.title }}
                    </h2>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="card-header">
                            {{ jobs.title }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ jobs.content }}</p>
                        </div>
                        <hr>
                        <div class="container">
                            <h6>Reponse</h6>
                            {% for jobsAnswer in jobs.messageJobs %}
                                {% if app.user == jobsAnswer.customerMsg %}
                                    Votre message {{ jobsAnswer.id }}
                                {% else %}
                                <p>{{ jobsAnswer.message.author }}</p>
                                    {% endif %}
                                <p>{{ jobsAnswer.content }}</p>
                                <hr>
                            {% endfor %}
                            <form method="post">
                                <input type="text" class="form-control" id="exampleInputEmail1" name="message" placeholder="Votre réponse .." required>
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
        </section>
    </main>

{% endblock %}