{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if not resetForm.vars.valid %}
                    <div class="alert alert-danger text-center">
                        Votre message n'a pas pu être envoyer.
                    </div>
                {% endif %}
                <img src="{{ vich_uploader_asset(customer, 'imageFile') | imagine_filter('thumb')}}" class="mr-3" alt="..." id="imgprofile_customer">
                <h6>{{ app.user.firstname }} {{ app.user.lastname }}</h6>
                <hr class="my-4">
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.password) }}
                <button class="btn btn-primary">Envoyer</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
