{% extends 'base2.html.twig' %}

{% block title %}Hello PlacePublicController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ vich_uploader_asset(places, 'imageFile') }}" class="card-img" alt="..." style="width: 100%; height: auto">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ places.title }}</h5>
                        <p class="card-text">{{ places.content }}</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    Ajouter une place
                </div>
                <div class="card-body">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if not placeForm.vars.valid %}
                        <div class="alert alert-danger text-center">
                            Votre message n'a pas pu être envoyer.
                        </div>
                    {% endif %}


                    {{ form_start(placeForm) }}


                    <button class="btn btn-success">Enregistrer</button>

                    {{ form_end(placeForm) }}
                </div>
            </div>
        </div>
    </div>



    <div style="text-align: center; margin-top: 1em; margin-bottom: 1em;"/><a href="{{ path('admin_space_public_index') }}" class="btn btn-primary">Revenir en arrière</a></div>
{% endblock %}
