<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gusto Coffee - Café &amp; Coworking {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/mdb.min.css') }}">
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style-landing.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    {% endblock %}
    <!-- Your custom styles (optional) -->
</head>

<body>
<!--Main Navigation-->
<div>
    <!--Navbar-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light  white fixed-top scrolling-navbar">

        <div class="container">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="/"><img src="{{ asset('img/logo/logo.png') }}" alt="" width="150"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto smooth-scroll">

                    <!-- Dropdown -->


                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </div>

    </nav>
</div>
{% block body %}{% endblock %}

<footer style="margin-top:2em;">

</footer>

<!--FIN FOOTER-->


<!-- SCRIPTS -->
<!-- JQuery -->{% block javascripts %}
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script>
        $('.carousel').carousel({
            interval: 2450,
        })

    </script>
{% endblock %}
</body>

</html>
