{% extends 'base.html.twig' %}

{% block title %}Evenements - Inscription{% endblock %}

{% block body %}
    {% if not app.user %}
        <main class="my-5 toped">
            <div class="container text-center">
                <h2 class="my-5 text-center">S'inscrire à l'évenement {{ post.title }}</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="card text-center">
                            <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('thumb')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{ post.content }}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success text-center">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% if not registerPostForm.vars.valid %}
                                    <div class="alert alert-danger text-center">
                                        Vous êtes inscrit ! A très bientôt.
                                    </div>
                                {% endif %}
                                {{ form_start(registerPostForm) }}
                                {{ form_row(registerPostForm.firstname ) }}
                                {{ form_row(registerPostForm.lastname) }}
                                {{ form_row(registerPostForm.email) }}

                                <button class="btn">Enregistrer</button>
                                {{ form_end(registerPostForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
    {% if is_granted('ROLE_USERS') %}
        <main class="my-5 toped">
            <div class="container text-center">
                <h2 class="my-5 h2 text-center">S'inscrire à l'évenement {{ post.title }}</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="card text-center">
                            <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('thumb')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{ post.content }}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success text-center">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% if not registerPostFormUser.vars.valid %}
                                    <div class="alert alert-danger text-center">
                                        Vous êtes inscrit ! A très bientôt.
                                    </div>
                                {% endif %}
                                {{ form_start(registerPostFormUser) }}
                                {{ form_row(registerPostFormUser.firstname ) }}
                                {{ form_row(registerPostFormUser.lastname) }}
                                {{ form_row(registerPostFormUser.email) }}

                                <button class="btn">Enregistrer</button>
                                {{ form_end(registerPostFormUser) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endif %}

{% endblock %}
