{% extends 'base.html.twig' %}

{% block title %}Ajouter au panier{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">{{ food.title }}</h2>
                </div>
                <div class="content">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="card bg-dark text-white">
                                    <img src="{{ vich_uploader_asset(food, 'imageFile') | imagine_filter('thumb')}}" class="card-img" alt="...">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ food.title }}</h5>
                                        <p class="card-text">{{ food.content }}.</p>
                                        <p class="card-text">Prix : {{ food.price }}€</p>
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success text-center">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        {% if not addFoodForm.vars.valid %}
                                            <div class="alert alert-danger text-center">
                                                Votre message n'a pas pu être envoyer.
                                            </div>
                                        {% endif %}
                                        {% if food.stock > 2 %}
                                            <span class="badge badge-success">Ce produit est disponible</span>
                                            {{ form_start(addFoodForm) }}
                                            {{ form_row(addFoodForm.quantity) }}
                                            <button class="btn">Enregistrer</button>
                                            {{ form_end(addFoodForm) }}
                                        {% else %}
                                            <span class="badge badge-danger">Ce produit n'est plus disponible</span>
                                            <br>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
        </section>
    </main>



{% endblock %}

